name: CI

on:
  workflow_dispatch: { }

  push:
    branches:
      - master

  pull_request:
    branches:
      - master
    paths:
      - 'src/**'
      - 'tests/**'
      - poetry.lock
      - pyproject.toml
      - '.github/workflows/**'

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2
        with:
          egress-policy: audit

      - uses: coveo/stew@c28c8eb7fc960587b93f789dba58879f5f102806 # main
        name: Stew
        with:
          python-version: "3.13"
          project-name: aws_auth_eks_crd
