name: Build and push image

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Semantic version to be built"
        required: true
        type: string

permissions:
  contents: read

jobs:
  push_to_registries:
    name: Push Docker image to Dockerhub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2
      with:
        egress-policy: audit

    - name: Check out the repo
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        
    - name: Login to GitHub Container Registry
      uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ github.token }}
      
    - name: Build and push Docker images
      uses: docker/build-push-action@8c1e8f8e5bf845ba3773a14f3967965548a2341e
      with:
        context: .
        push: true
        tags: ghcr.io/coveooss/aws_auth_eks_crd:${{ github.event.inputs.version }}
        labels: ${{ github.event.inputs.version }}
