name: Build and push image

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Semantic version to be built"
        required: true
        type: string

permissions:
  contents: read

jobs:
  push_to_registries:
    name: Push Docker image to Dockerhub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2
      with:
        egress-policy: audit

    - name: Check out the repo
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        
    - name: Login to GitHub Container Registry
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ github.token }}
      
    - name: Build and push Docker images
      uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d
      with:
        context: .
        push: true
        tags: ghcr.io/coveooss/aws_auth_eks_crd:${{ github.event.inputs.version }}
        labels: ${{ github.event.inputs.version }}
